/* Global Contents */
:root {
    --purple: #673AB7;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
button {
    display: block;
    border: none;
    background-color: var(--purple);
    padding: 10px 15px;
    color: white;
    font-size: 1.3em;
    font-weight: 900;
    border-radius: 10px;
}
button:hover {
    cursor: pointer;
    background-color: var(--purple); /* change color */
}
.hidden {
    display: none;
}
/* Start Screen */
.container {
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.top-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 20px 10px 20px;
}
.top-bar button { /* View Scores */
    margin: 0;
    font-size: 1.1em;
    background-color: white;
    color: var(--purple);
    height: 100%;
    padding-left: 5px;
}
.top-bar #count-down { /* Timer */
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-weight: 600;
    height: 100%;
    align-items: center;
}
.start-screen {
    height: 100%;
    width: 50%;
    margin: 150px auto;
}
.quiz-intro h1 {
    width: 100%;
    display: flex;
    padding: 0 35px;
    font-size: 35px;
    font-weight: 600;
    justify-content: center;
}
.start-screen p {
    margin: 10px 0;
    font-size: 17px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.start-screen button {
    outline: none;
    border: 1px;
    background: #673AB7;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: auto;
}